<div>
  <div id="cities" class="rounded ml-3 mt-3">
    <h3>Cities</h3>
    <ul>
      <li class="mb-3">
        <app-city [name]="'San Fransisco, USA'" [imageUrl]="'../../assets/images/ggb.jpg'"></app-city>
      </li>
      <li class="mb-3">
      <app-city [name]="'London, UK'" [imageUrl]="'../../assets/images/london.jpg'"></app-city>
      </li>
      <li class="mb-3">
      <app-city [name]="'Kyoto, Japan'" [imageUrl]="'../../assets/images/kyoto.jpg'"></app-city>
      </li>
      <li class="mb-3">
        <app-city [name]="'Sidney, Australia'" [imageUrl]="'../../assets/images/sidney.jpg'"></app-city>
      </li>
    </ul>

  </div>
</div>
