<div class="rounded mt-3 ml-3">
  <div id="heading">
    <div>
      <h3>City Name</h3>
      <h4>Country Name</h4>
    </div>
    <img class="rounded" src="assets/images/posts/genric.jpg" alt="...">
  </div>
  <div id="posts">
    <h3>Posts</h3>
    <app-post
      [name]="'Post Title'"
      [content]="'Post Content: A paragraph is a group of sentences that, when put together, discuss one main idea. Paragraphs have three main parts: the topic sentence, body sentences, and the concluding sentence. Let us cover how a paragraph should be put together by you or a content writer.'"
      [username]="'User Name'"
      [imageUrl]="'assets/images/post/generic_user.png'"
      [date]="'Jan. 1 2018'"
    ></app-post>
    <app-post
      [name]="'Post Title'"
      [content]="'Post Content: A paragraph is a group of sentences that, when put together, discuss one main idea. Paragraphs have three main parts: the topic sentence, body sentences, and the concluding sentence. Let us cover how a paragraph should be put together by you or a content writer.'"
      [username]="'User Name'"
      [imageUrl]="'assets/images/post/generic_user.png'"
      [date]="'Jan. 2 2018'"
    ></app-post>
    <app-post
      [name]="'Post Title'"
      [content]="'Post Content: A paragraph is a group of sentences that, when put together, discuss one main idea. Paragraphs have three main parts: the topic sentence, body sentences, and the concluding sentence. Let us cover how a paragraph should be put together by you or a content writer.'"
      [username]="'User Name'"
      [imageUrl]="'assets/images/post/generic_user.png'"
      [date]="'Jan. 2 2018'"
    ></app-post>
  </div>
</div>
