<!--https://www.remotestack.io/angular-bootstrap-responsive-carousel-tutorial/-->
<div class="container mt-3 mb-3 w-50 h-25">
    <ngb-carousel class="shadow">
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="../../../assets/images/singapore.jpg" class="mx-auto d-block w-100 rounded" alt="Singapore">
        </div>
        <div class="carousel-caption">
          <h3>SINGAPORE</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="../../../assets/images/rome.jpg" class="mx-auto d-block w-100 rounded" alt="Rome">
        </div>
        <div class="carousel-caption">
          <h3>ROME</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="../../../assets/images/sf.jpg" class="mx-auto d-block w-100 rounded" alt="San Francisco">
        </div>
        <div class="carousel-caption">
          <h3>SAN FRANCISCO</h3>
        </div>
      </ng-template>
    </ngb-carousel>
</div>
