#cities{
  background-color: #F5FDC6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
h3{
  margin: 20pt;
  text-align: left;
}
ul{
  width: 75%;
}
li{
  list-style-type: none;
  width: 100%;
  margin-left: 15pt;
}
li:hover{
  width: 105%;
}
li, li:focus, li:active {
  text-decoration: none;
  color: inherit;
}
