<div id="cities" class="rounded mt-3 mb-3 ml-3">
  <h3>Cities</h3>
  <ul>
    <li routerLink="cities/1" class="mb-3">
      <app-city [name]="'San Fransisco, USA'" [imageUrl]="'assets/images/thumbnails/ggb.jpg'" [id]="1"></app-city>
    </li>
    <li routerLink="home/cities/2" class="mb-3">
      <app-city [name]="'London, UK'" [imageUrl]="'assets/images/thumbnails/london.jpg'" [id]="2"></app-city>
    </li>
    <li routerLink="home/cities/3" class="mb-3">
      <app-city [name]="'Kyoto, Japan'" [imageUrl]="'assets/images/thumbnails/kyoto.jpg'" [id]="3"></app-city>
    </li>
    <li routerLink="home/cities/4" class="mb-3">
      <app-city [name]="'Sidney, Australia'" [imageUrl]="'assets/images/thumbnails/sidney.jpg'" [id]="4"></app-city>
    </li>
  </ul>
</div>
