body{
  background-color: #A89F68;
  font-family: 'Girassol', cursive;
}
/*header background image*/
.bg-img{
  background-image: url('../assets/wayfarerheader.png');
}
#example1:hover{
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.jumbotron  {
  border: 0;
  margin:0;
}

