#info{
  background-color: #f5c396;
  padding: 20pt;
  width: 60%;
}
#heading > img{
  width: 75%;
  height: 75%;
}
#heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


