<div id="about">
  <app-carousal class="d-flex"></app-carousal>
  <div class="bg-color mb-3 rounded w-75" >
    <h2 class="rounded">Wayfarer is ...</h2>
    <div id="def">
      <div>
        <h4 class="rounded">a resource</h4>
        <p class="rounded">
          find tips and tricks during your journey planning. answer the questions:
          what are the must sees? and
          what should I avoid?
        </p>
      </div>
      <div>
        <h4 class="rounded">a community</h4>
        <p class="rounded">
          meet others who love travel as much as you do. discuss, react, and plan with
          other wayfarers. we are a community of seekers and adventurers.
        </p>
      </div>
      <div>
        <h4 class="rounded">a way of life</h4>
        <p class="rounded">
          we know that traveling and visiting new places isn't just a vacation. it is
          more than that, it's a journey that leaves you a changed being for the better.
        </p>
      </div>
    </div>
  </div>
</div>

